/*This is just some basic declarations that will give the project an overall good look and really great aesthetics*/
@font-face{
    font-family:'Glyphicons Halflings';
    src:url(../fonts/glyphicons-halflings-regular.eot);
    src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}


@font-face {
   font-family: Dancing Script;
   src: url(../fonts/DancingScript-VariableFont_wght.woff);
}
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
:after,:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
html{
    font-size:10px;
    -webkit-tap-highlight-color:transparent
}
body{
    font-family:'Open Sans',sans-serif;
    font-size:14px;
    line-height:1.42857143;
    color:#333;
    background-color:#fff
}
a{
    color:#337ab7;
    text-decoration:none
}
a:focus,a:hover{
    color:#23527c;
    text-decoration:underline
}
a:focus{
    outline:thin dotted;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}


/*Begin text decoration styling*/
a.light-link{
	color:#fff;
}

.blue-text{
	color:blue;
}

/*End text decoration styling*/

img{
    vertical-align:middle
}
.img-responsive{
    display:block;
    max-width:100%;
    height:auto
}
[role=button]{
    cursor:pointer
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{
    font-family:inherit;
    font-weight:500;
    line-height:1.1;
    color:inherit
}
.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{
    font-weight:400;
    line-height:1;
    color:#777
}
.h1,.h2,.h3,h1,h2,h3{
    margin-top:20px;
    margin-bottom:10px
}
.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small{
    font-size:65%
}
.h4,.h5,.h6,h4,h5,h6{
    margin-top:10px;
    margin-bottom:10px
}
.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{
    font-size:75%
}

.h1,h1{
    font-size:36px
}
.h2,h2{
    font-size:30px
}
.h3,h3{
    font-size:24px
}
.h4,h4{
    font-size:18px
}
.h5,h5{
    font-size:14px
}
.h6,h6{
    font-size:12px
}
p{
    margin:0 0 10px
}
.small,small{
    font-size:85%
}
.mark,mark{
    padding:.2em;
    background-color:#fcf8e3
}
.text-right{
    text-align:right
}
.text-center{
    text-align:center
}
.text-info{
    color:#31708f
}
a.text-info:focus,a.text-info:hover{
    color:#245269
}
.page-header{
    padding-bottom:9px;
    margin:40px 0 20px;
    border-bottom:1px solid #eee
}
ul{
    margin-top:0;
    margin-bottom:10px
}
ul ul{
    margin-bottom:0
}
.no-padding{
    padding:0
}
.no-padding-right{
    padding-left:0
}
.small-padding-right{
    padding-right:5px
}
ul{
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;
    color:#858585;
    font-size:14px;
    line-height:24px;
    margin-bottom:20px
}
ul li{
    font-size:14px;
    line-height:28px
}
ul li i{
    vertical-align:middle
}
ul.features-list-dark{
    display:inline-block
}
ul.features-list-dark li{
    float:left;
    font-size:15px;
    line-height:28px;
    margin:1px 0
}
ul.features-list li{
    float:left;
    font-size:15px;
    line-height:24px;
    margin:12px 0
}
ul.features-list li img{
    max-width:55px;
    margin-right:20px;
    float:left
}
p{
    font-size:15px;
    line-height:24px;
    font-weight:400;
    color:#858585;
    margin-bottom:15px
}
a,a:focus,a:hover{
    text-decoration:none;
    outline:0
}
h1,h2,h3,h4,h5,h6{
    font-family:Roboto,sans-serif;
    font-weight:700;
    line-height:1.2;
    margin-bottom:20px;
    color:#454545
}
h1{
    font-size:42px
}
h2{
    font-size:34px
}
h3{
    font-size:28px
}
h4{
    font-size:24px
}
h5{
    font-size:20px
}
h6{
    font-size:18px
}
h2.section-title{
    font-size:36px;
    margin:0 0 15px 0
}
h2.section-title.grey{
    color:#ddd
}
p.section-subtitle{
    font-size:17px
}
p.section-subtitle.grey{
    color:#bbb
}
.separator_wrapper,.separator_wrapper_white{
    margin-bottom:10px
}
.separator_wrapper::after,.separator_wrapper::before{
    background-color:#34b1c4;
    display:inline-block;
    vertical-align:middle;
    content:"";
    width:60px;
    height:1px;
    margin-top:-6px
}
.separator_wrapper_white::after,.separator_wrapper_white::before{
    background-color:#ddd;
    display:inline-block;
    vertical-align:middle;
    content:"";
    width:60px;
    height:1px;
    margin-top:-6px
}
h3.medium-title{
    font-size:32px;
    margin-top:10px
}
iframe{
    max-width:100%;
    border:none
}
.width-100{
    width:100%
}
.medium{
    font-weight:400
}
.blue{
    color:#3498db
}
.red{
    color:#34b1c4
}
.grey{
    color:#ddd
}
.white{
    color:#fff
}
.section-white{
    background-color:#fff;
    padding:90px 0
}
.section-grey{
    background-color:#eef0f1;
    padding:90px 0
}
.section-grey.small-padding,.section-white.small-padding{
    padding:40px 0
}
.section-dark.medium-padding,.section-grey.medium-padding,.section-white.medium-padding{
    padding:60px 0
}
.section-blue.no-padding-bottom,.section-dark.no-padding-bottom,.section-grey.no-padding-bottom,.section-white.no-padding-bottom{
    padding:90px 0 0 0
}
.section-blue.small-padding-bottom,.section-dark.small-padding-bottom,.section-grey.small-padding-bottom,.section-white.small-padding-bottom{
    padding:90px 0 60px 0
}
.section-blue.no-padding,.section-dark.no-padding,.section-grey.no-padding,.section-white.no-padding{
    padding:0
}
.section-white.about-padding{
    padding:85px 0 100px 0
}
.section-dark.portfolio-padding{
    padding:60px 0 75px 0
}
.section-dark{
    background-color:#393f43;
    padding:90px 0
}
.section-blue{
    background-color:#34b1c4;
    padding:90px 0
}
.margin-right-25{
    margin-right:25px!important
}
.margin-top-110{
    margin-top:110px!important
}
.margin-top-100{
    margin-top:100px!important
}
.margin-top-90{
    margin-top:90px!important
}
.margin-top-80{
    margin-top:80px!important
}
.margin-top-60{
    margin-top:60px!important
}
.margin-top-50{
    margin-top:50px!important
}
.margin-top-40{
    margin-top:40px!important
}
.margin-top-35{
    margin-top:35px!important
}
.margin-top-30{
    margin-top:30px!important
}
.margin-top-20{
    margin-top:20px!important
}
.margin-top-10{
    margin-top:10px!important
}
.margin-top-5{
    margin-top:5px!important
}
.margin-bottom-0{
    margin-bottom:0!important
}
.margin-bottom-10{
    margin-bottom:10px!important
}
.margin-bottom-20{
    margin-bottom:20px!important
}
.margin-bottom-30{
    margin-bottom:30px!important
}
.margin-bottom-40{
    margin-bottom:40px!important
}
.margin-bottom-50{
    margin-bottom:50px!important
}
.margin-bottom-60{
    margin-bottom:60px!important
}
.margin-bottom-70{
    margin-bottom:70px!important
}
.margin-bottom-80{
    margin-bottom:80px!important
}
.margin-bottom-100{
    margin-bottom:100px!important
}
.margin-bottom-120{
    margin-bottom:120px!important
}
.margin-bottom-130{
    margin-bottom:120px!important
}
.margin-bottom-140{
    margin-bottom:140px!important
}
.padding-top-0{
    padding-top:0!important
}
.padding-top-20{
    padding-top:20px!important
}
.padding-top-25{
    padding-top:25px!important
}
.padding-top-30{
    padding-top:30px!important
}
.padding-top-40{
    padding-top:40px!important
}
.padding-top-45{
    padding-top:45px!important
}
.padding-top-50{
    padding-top:50px!important
}
.padding-top-60{
    padding-top:60px!important
}
.padding-top-70{
    padding-top:70px!important
}
.padding-top-80{
    padding-top:80px!important
}
.padding-top-100{
    padding-top:180px!important
}
.padding-bottom-60{
    padding-bottom:60px!important
}
.padding-bottom-70{
    padding-bottom:70px!important
}
.padding-bottom-0{
    padding-bottom:0!important
}
.margin-top-0{
    margin-top:0!important
}

.btn{
    display:inline-block;
    padding:6px 12px;
    margin-bottom:0;
    font-size:14px;
    font-weight:400;
    line-height:1.42857143;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-image:none;
    border:1px solid transparent;
    border-radius:4px
}
.btn:active.focus,.btn:active:focus,.btn:focus{
    outline:thin dotted;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}
.btn:focus,.btn:hover{
   /* color:#333;*/
    text-decoration:none
}
.btn:active{
    background-image:none;
    outline:0;
    -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow:inset 0 3px 5px rgba(0,0,0,.125)
}
.btn[disabled]{
    cursor:not-allowed;
    -webkit-box-shadow:none;
    box-shadow:none;
    opacity:.65
}
.btn-default{
    color:#333;
    background-color:#fff;
    border-color:#ccc
}
.btn-default:focus{
    color:#333;
    background-color:#e6e6e6;
    border-color:#8c8c8c
}
.btn-default:hover{
    color:#333;
    background-color:#e6e6e6;
    border-color:#adadad
}
.btn-default:active{
    color:#333;
    background-color:#e6e6e6;
    border-color:#adadad
}
.btn-default:active.focus,.btn-default:active:focus,.btn-default:active:hover{
    color:#333;
    background-color:#d4d4d4;
    border-color:#8c8c8c
}
.btn-default:active{
    background-image:none
}
.btn-default[disabled],.btn-default[disabled]:active,.btn-default[disabled]:focus,.btn-default[disabled]:hover{
    background-color:#fff;
    border-color:#ccc
}
.btn-info{
    color:#fff;
    background-color:#5bc0de;
    border-color:#46b8da
}
.btn-info:focus{
    color:#fff;
    background-color:#31b0d5;
    border-color:#1b6d85
}
.btn-info:hover{
    color:#fff;
    background-color:#31b0d5;
    border-color:#269abc
}
.btn-info:active{
    color:#fff;
    background-color:#31b0d5;
    border-color:#269abc
}
.btn-info:active.focus,.btn-info:active:focus,.btn-info:active:hover{
    color:#fff;
    background-color:#269abc;
    border-color:#1b6d85
}
.btn-info:active{
    background-image:none
}
.btn-info[disabled],.btn-info[disabled]:active,.btn-info[disabled]:focus,.btn-info[disabled]:hover{
    background-color:#5bc0de;
    border-color:#46b8da
}
.btn-link{
    font-weight:400;
    color:#337ab7;
    border-radius:0
}
.btn-link,.btn-link:active,.btn-link[disabled]{
    background-color:transparent;
    -webkit-box-shadow:none;
    box-shadow:none
}
.btn-link,.btn-link:active,.btn-link:focus,.btn-link:hover{
    border-color:transparent
}
.btn-link:focus,.btn-link:hover{
    color:#23527c;
    text-decoration:underline;
    background-color:transparent
}
.btn-link[disabled]:focus,.btn-link[disabled]:hover{
    color:#777;
    text-decoration:none
}
.btn-lg{
    padding:16px 28px;
    font-size:14px;
    font-weight:600;
    line-height:1.3333333;
    border-radius:6px
}

/*.collapse{
    display:none
}
.collapse.in{
    display:block
}*/
.open>a{
    outline:0
}
.nav{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.nav>li{
    position:relative;
    display:block;
    font-family:Roboto,sans-serif
}
.nav>li>a{
    font-size:16px;
    position:relative;
    display:block;
    padding:8px 15px
}
.nav>li>a:focus,.nav>li>a:hover{
    text-decoration:none;
    background-color:#eee
}
.nav .open>a,.nav .open>a:focus,.nav .open>a:hover{
    background-color:#eee;
    border-color:#337ab7
}
.nav>li>a>img{
    max-width:none
}
.navbar{
    position:relative;
    min-height:50px;
    margin-bottom:0;
    border:1px solid transparent
}
